// :root {
//     --main-color: #F08A5D;
//     --hover-color: #B83B5E;
//     --background-color: #E5E5E5;
//     --white: #fff;
//     --black: #000;
//     --gray: #f3c562;
//     --heads: #F08A5D;
//     --transtion: 0.3s;
// }
:root {
    --main-color: #3BACB6;
    --hover-color: #2e848b;
    --background-color: #E5E5E5;
    --white: #fff;
    --black: #000;
    --gray: #96999B;
    --heads: #4D6D6E;
    --transtion: 0.3s;
}


