*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background: var(--background-color);
    // font-family: 'Cairo', sans-serif;
}
input{
    outline: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}